In [4]:
name=input('Enter Your Name: ')
age = input('Enter your Age: ')
salary= float(input('Enter your Salary: '))
age = int(age)
print('Hello', name, 'You are', age,'years old', 'Your Salary is', salary)
type(age)

Hello Seaum
 You are 23 years old Your Salary is 1000223.0

int

In [9]:
#Arithmatic Operation

a = int(input('Enter the value of a: '))
b = int(input('Enter the value of b: '))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a/b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

13
1
42
1.17
1.1666666666666667
1.1666666666666667
1
1
117649

In [13]:
#String Concatenation
str1 = 'Hello'
str2 = 'World'
str3 = 123
num1= 4
num3= 34
#f-strings
print(f'{str1} {str2} and go to the hell {str3} {num3+num1}')
print(str1 + str2)
print(str1 + ' ' + str2)

Hello World and go to the hell 123 38
HelloWorld
Hello World

In [1]:
print('hel'+'a')

hela