<a href="https://colab.research.google.com/github/SilverShadow123/Python/blob/master/python_assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Section A

In [ ]:
t1 = (5, 2, 9, 5, 2, 7, 8, 9)

t2 = tuple(sorted(set(t1)))

t3 =[]

for index, value in enumerate(t1):
  if value == 5:
    t3.append(index)

print('Unique elements sorted in asending order: ',t2)
print('Index positions of all occurences of 5: ',t3)

Unique elements sorted in asending order:  (2, 5, 7, 8, 9)
Index positions of all occurences of 5:  [0, 3]

In [ ]:
a = (1, 3, 5, 7)
b = (2, 4, 6, 8)
c = tuple(sorted(a+b))

d = list(c)

for i in d:
  if d[i]%2==0:
    d[i] = -d[i]

result = tuple(d)

print('After Marging: ',c)
print('Replacing all the even with negative: ',result)

After Marging:  (1, 2, 3, 4, 5, 6, 7, 8)
Replacing all the even with negative:  (1, -2, 3, -4, 5, -6, 7, -8)

Section B

In [ ]:
A = {10, 20, 30, 40, 50}
B = {30, 60, 90, 20}

combined = A.difference(B).union(B.difference(A))
print("Combined set:", combined)

divisibled = {x for x in A if x % 20 != 0}
print("A after removing elements divisible by 20:", divisibled)

A.update(B)
print("A after adding all elements from B:", A)

Combined set: {50, 90, 40, 10, 60}
A after removing elements divisible by 20: {50, 10, 30}
A after adding all elements from B: {40, 10, 50, 20, 90, 60, 30}

In [ ]:
s ={12, 7, 3, 18, 21, 5}

greter_then_10 = {i for i in s if i > 10}
print('Elements Greter than 10',greter_then_10)

while len(s) > 2:
  s.pop()
print('Remaining 2 elements after pop',s)

Elements Greter than 10 {18, 12, 21}
Remaining 2 elements after pop {7, 12}

Section C

In [ ]:
sales = {
    "Jan": {"total": 1200, "returns": 2},
    "Feb": {"total": 1500, "returns": 3},
    "Mar": {"total": 1700, "returns": 1}
}

for month, data in sales.items():
    data['total'] = round(data['total'] * 1.05, 2)
print("After 5% increase:", sales)

sales.update({"Apr": {"total": 1600, "returns": 2}})
print("After adding Apr:", sales)

max_returns = max(data['returns'] for data in sales.values())

for month in list(sales.keys()):
    if sales[month]['returns'] == max_returns:
        del sales[month]

print("After deleting highest returns:", sales)

above_1500 = []
for month, data in sales.items():
    if data['total'] > 1500:
        above_1500.append(month)

print("Months with total > 1500:", above_1500)

After 5% increase: {'Jan': {'total': 1260.0, 'returns': 2}, 'Feb': {'total': 1575.0, 'returns': 3}, 'Mar': {'total': 1785.0, 'returns': 1}}
After adding Apr: {'Jan': {'total': 1260.0, 'returns': 2}, 'Feb': {'total': 1575.0, 'returns': 3}, 'Mar': {'total': 1785.0, 'returns': 1}, 'Apr': {'total': 1600, 'returns': 2}}
After deleting highest returns: {'Jan': {'total': 1260.0, 'returns': 2}, 'Mar': {'total': 1785.0, 'returns': 1}, 'Apr': {'total': 1600, 'returns': 2}}
Months with total > 1500: ['Mar', 'Apr']

In [52]:
students = {
    1: {"name": "Riya", "marks": {"math": 88, "eng": 76, "sci": 90}},

    2: {"name": "Fahim", "marks": {"math": 92, "eng": 81, "sci": 79}},

    3: {"name": "Simran", "marks": {"math": 67, "eng": 72, "sci": 69}}
}
for id, mark in students.items():
     mark['marks'].update({'computer':85})
print('Adding computer:85 to every students marks: ',students)

for id, data in students.items():
    data['total'] = sum(data['marks'].values())
print('After Calculating each total and adding: ',students)

max_total = max(data['total'] for data in students.values())

for id, data in students.items():
    if data['total'] == max_total:
      print('Student with the highest total:',data['name'])

print('Above 70 Marks: ', end='')
for id, data in students.items():
  for mark in data['marks'].values():
    if mark>70:
      print(data['name'],end=', ')
      break

Adding computer:85 to every students marks:  {1: {'name': 'Riya', 'marks': {'math': 88, 'eng': 76, 'sci': 90, 'computer': 85}}, 2: {'name': 'Fahim', 'marks': {'math': 92, 'eng': 81, 'sci': 79, 'computer': 85}}, 3: {'name': 'Simran', 'marks': {'math': 67, 'eng': 72, 'sci': 69, 'computer': 85}}}
After Calculating each total and adding:  {1: {'name': 'Riya', 'marks': {'math': 88, 'eng': 76, 'sci': 90, 'computer': 85}, 'total': 339}, 2: {'name': 'Fahim', 'marks': {'math': 92, 'eng': 81, 'sci': 79, 'computer': 85}, 'total': 337}, 3: {'name': 'Simran', 'marks': {'math': 67, 'eng': 72, 'sci': 69, 'computer': 85}, 'total': 293}}
Student with the highest total: Riya
Above 70 Marks: Riya, Fahim, Simran,

Section D

In [61]:
nums = [15, 22, 37, 40, 52, 67, 88]


divisibled =[i for i in nums if i % 2 == 0 and i % 4 == 0]
print('A new list containing numbers divisible by 2 and 4:',divisibled)

print('The index and value of only odd numbers: ')
for i, num in enumerate(nums):
  if num % 2 != 0:
    print(f'{i} : {num}')

A new list containing numbers divisible by 2 and 4: [40, 52, 88]
The index and value of only odd numbers:
0 : 15
2 : 37
5 : 67

In [82]:
products = {"p1": 120, "p2": 250, "p3": 80, "p4": 300}

print('Products whose price is between 100 and 260:',end=' ')
for product, price in products.items():
    if price >100 and price<260:
      print(product, end=', ')

new_products = {}

for product, price in products.items():
  if price >200:
    products[product] = 'High'
  else:
    products[product] = 'Low'

print('\nA new dictionary where prices are converted to "High" if >200 else "Low":',products)

Products whose price is between 100 and 260: p1, p2,
A new dictionary where prices are converted to "High" if >200 else "Low": {'p1': 'Low', 'p2': 'High', 'p3': 'Low', 'p4': 'High'}

Section E

In [96]:
names = ["Amit", "Sara", "Rohan", "Kia"]

scores = [88, 92, 75, 95]

grades = ["B", "A", "C", "A"]

stu = list(zip(names, scores, grades))

print('Students with grade "A":', end=' ')
for student in stu:
  if student[2] == 'A':
    print(student[0], end=', ')

Students with grade "A": Sara, Kia,

In [100]:
colors = ["red", "blue", "green", "yellow", "pink", "purple"]

print('Only every second element: ', end='')
for index, color in enumerate(colors):
  if index % 2 != 0:
    print(color, end=', ')

Only every second element: blue, yellow, purple,

Section F

In [118]:
matrix = [
    [3, 7, 1],

    [9, 2, 8],

    [6, 4, 5]
]

print('All even numbers in the matrix: ', end='')
for i in matrix:
  for j in i:
    if j%2 == 0:
       print(j, end=' ')


sum_of_each_row = [sum(i) for i in matrix]

print('\nA list containing sum of each row:',sum_of_each_row)

All even numbers in the matrix: 2 8 6 4
A list containing sum of each row: [11, 19, 15]

In [136]:
inventory = {
    "fruits": {"apple": 50, "banana": 30},

    "vegetables": {"carrot": 40, "spinach": 25},

    "drinks": {"water": 100, "juice": 40}
}


for category, items in inventory.items():
  for item, qty in items.items():
     items[item] = int(qty*1.10)

print('Updated inventory with 10% increase:',inventory)

high_qty_inventory = {}

for category, items in inventory.items():
    filtered_items = {item: qty for item, qty in items.items() if qty > 40}
    if filtered_items:
        high_qty_inventory[category] = filtered_items

print('Items whose updated quantity > 40:',high_qty_inventory)

Updated inventory with 10% increase: {'fruits': {'apple': 55, 'banana': 33}, 'vegetables': {'carrot': 44, 'spinach': 27}, 'drinks': {'water': 110, 'juice': 44}}
Items whose updated quantity > 40: {'fruits': {'apple': 55}, 'vegetables': {'carrot': 44}, 'drinks': {'water': 110, 'juice': 44}}