<a href="https://colab.research.google.com/github/SilverShadow123/Python/blob/master/python_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STRINGS

In [2]:
name = input('Enter Your Full Name: ')
print('Title Case:', name.title())
print('First Character:', name[0])
print('Last Character:', name[-1])
print('Reversed Name:', name[::-1])
print("Count of 'a':", name.lower().count('a'))
print('Without Spaces:', name.replace(' ',''))

Enter Your Full Name: Taosif Dakua Seaum
Title Case: Taosif Dakua Seaum
First Character: T
Last Character: m
Reversed Name: muaeS aukaD fisoaT
Count of 'a': 4
Without Spaces: TaosifDakuaSeaum

In [3]:
s='Learning Python is Fun'
print('Lowercase:', s.lower())
print('Replace Fun:', s.replace('Fun','Awesome'))
print('3rd to 10th charecters:', s[2:10])
print("Ends with 'Fun':", s.endswith('Fun'))
print('List of words:', s.split())

Lowercase: learning python is fun
Replace Fun: Learning Python is Awesome
3rd to 10th charecters: arning P
Ends with 'Fun': True
List of words: ['Learning', 'Python', 'is', 'Fun']

NUMBERS, MATH & OPERATOR PRECEDENCE

In [7]:
number = int(input('Enter a Number: '))
if number>=1:
  print(f'{number} is Positive')
else:
  print(f'{number} is Negative')

if number % 2 == 0:
  print(f'{number} is even')
else:
  print(f'{number} is odd')

Enter a Number: -29
-29 is Negative
-29 is odd

In [9]:
subject_1=float(input('Enter Subject 1 mark: '))
subject_2=float(input('Enter Subject 2 mark: '))
subject_3=float(input('Enter Subject 3 mark: '))

total = subject_1+subject_2+subject_3
average = total/3

print('Total :', total)
print('Average:', format(average, '.2f'))

if subject_1 >= 40 and subject_2 >=40 and subject_3>=40:
  print('Pass')
else:
  print('Fail')

if average >= 75:
  print('Distinction')
else:
  print('Normal Pass')

Enter Subject 1 mark: 30
Enter Subject 2 mark: 40
Enter Subject 3 mark: 70
Total : 140.0
Average: 46.67
Fail
Normal Pass

LOOPS

In [24]:
num = 1

while num <= 50:
    if num == 37:
        break
    if num % 4 == 0:
        num += 1
        continue

    print(num)
    num += 1

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35

In [27]:
number = int(input('Enter a Number to Print its Multiplication Table: '))

print(f'\nMultiplication Table of {number}:')

for i in range(1,13):
  print(f'{number} X {i} = {number * i}')

Enter a Number to Print its Multiplication Table: 4

Multiplication Table of 4:
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
4 X 11 = 44
4 X 12 = 48

In [41]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j, end='')
  print()

1
12
123
1234
12345

LISTS & LIST COMPREHENSION

In [54]:
nums =[12, 4, 8, 1, 9, 3, 4, 4]
nums.sort
print('Sort:', nums)
nums.insert(2,100)
print('Inserting 100 at index 2:', nums)
nums.remove(1)
print('Removing the value 1:',nums)
print('Max Value:', max(nums))
print('Min Value:', min(nums))
nums.reverse()
print('Reverse:', nums)
print('Counting how many times 4 appears:', nums.count(4))

Sort: [12, 4, 8, 1, 9, 3, 4, 4]
Inserting 100 at index 2: [12, 4, 100, 8, 1, 9, 3, 4, 4]
Removing the value 1: [12, 4, 100, 8, 9, 3, 4, 4]
Max Value: 100
Min Value: 3
Reverse: [4, 4, 3, 9, 8, 100, 4, 12]
Counting how many times 4 appears: 3

In [63]:
integers_list =[12,32,5,75,86,97,2,63,10,4]

print('Interger List:', integers_list)
odd_integers = [i for i in integers_list if i%2!=0]
print('Odd Number:', odd_integers)
greter_then_10 =[i for i in integers_list if i > 20]
print('Numbers greter than 20', greter_then_10)
less_then_10 = [i if i > 10 else 0 for i in integers_list]
print('Replaced all Numbers less then 10 with 0:', less_then_10)

Interger List: [12, 32, 5, 75, 86, 97, 2, 63, 10, 4]
Odd Number: [5, 75, 97, 63]
Numbers greter than 20 [32, 75, 86, 97, 63]
Replaced all Numbers less then 10 with 0: [12, 32, 0, 75, 86, 97, 0, 63, 0, 0]

In [71]:
l = []
for i in range(1,101):
  l.append(i)
print('List:', l)
div_by_3_not_5 = [i for i in l if i % 3 == 0 and i % 5 != 0]
print('After divisibleb by 3 but not divisible by 5:', div_by_3_not_5)

List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
After divisibleb by 3 but not divisible by 5: [3, 6, 9, 12, 18, 21, 24, 27, 33, 36, 39, 42, 48, 51, 54, 57, 63, 66, 69, 72, 78, 81, 84, 87, 93, 96, 99]