String and f-strings

In [1]:
str1 = 'Hello'
str2 = 'World'
str3 = 123
num1= 4
num3= 34
#f-strings
print(f'{str1} {str2} and go to the hell {str3} {num3+num1}')
print(str1 + str2)
print(str1 + ' ' + str2)

Hello World and go to the hell 123 38
HelloWorld
Hello World

String Methods

In [5]:
label =' this is  string method '

print(label.upper())
print(label.lower())
print(label.title())
print(label.strip())
print(label.rstrip())
print(label.lstrip())
print(label.find('is'))
print(label.replace('is', 'at'))
print(label.strip().title())

 THIS IS  STRING METHOD
 this is  string method
 This Is  String Method
this is  string method
 this is  string method
this is  string method
3
 that at  string method
This Is  String Method

Number and Math Operations

In [6]:
a = 10
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a/b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

13
7
30
3.3333333333333335
3.3333333333333335
3.3333333333333335
3
1
1000

Operator Precedence

In [10]:
a =10
b=5
c=2
equation = (a*b) / (b/a)+(a**c)-(a//c)
d=a//c
print(d)
print(equation)

5
195.0

Math Functions

In [17]:
import math

print(math.sqrt(4))
print(math.ceil(5.05))
print(math.floor(5.46))
print(math.pi)
print(math.tan(math.pi))

2.0
6
5
3.141592653589793
-1.2246467991473532e-16

If Statements

In [20]:
number = 80
if number>40:
    print('passed')
else:
    print('failed')

if number > 80:
    print('Letter Grade A')
elif number > 70:
    print('Letter Grade B')
elif number > 60:
    print('Letter Grade C')
elif number > 50:
    print('Letter Grade D')
else:
    print('Letter Grade F')

passed
Letter Grade B

Logical Operators

In [25]:
age = 18
salary = 5100
if age > 18 and salary > 5000:
    print('Eligible for loan')
else:
    print('Not Eligible for loan')

if age > 18 or salary > 5000:
    print('Eligible for loan')
else:
    print('Not Eligible for loan')

if not age > 18:
    print('Not Eligible for loan')
else:
    print('Eligible for loan')

Not Eligible for loan
Eligible for loan
Not Eligible for loan

Comparison Operators

In [37]:
age = 18
print(age == 18)
print(age != 18)
print(age > 18)
print(age < 18)
print(age >= 18)
print(age <= 18)

True
False
False
False
True
True

While Loops

In [38]:
count =1
while count <= 10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10